@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'Martine Script';
  src: url('../fonts/MartineScript.woff2') format('woff2'),
      url('../fonts/MartineScript.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



.martine{
  font-family: 'Martine Script';
}
